[submodule "dependencies/SlickGrid"]
	path = dependencies/SlickGrid
	url = https://github.com/mleibman/SlickGrid.git
[submodule "dependencies/bootstrap"]
	path = dependencies/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "dependencies/json.human.js"]
	path = dependencies/json.human.js
	url = https://github.com/marianoguerra/json.human.js.git
[submodule "dependencies/jsep"]
	path = dependencies/jsep
	url = https://github.com/soney/jsep.git
[submodule "dependencies/esprima"]
	path = dependencies/esprima
	url = https://github.com/ariya/esprima.git
[submodule "dependencies/ua-parser-js"]
	path = dependencies/ua-parser-js
	url = https://github.com/faisalman/ua-parser-js.git
[submodule "dependencies/doT"]
	path = dependencies/doT
	url = https://github.com/olado/doT.git
[submodule "dependencies/FileDrop"]
	path = dependencies/FileDrop
	url = https://github.com/ProgerXP/FileDrop.git
