      	input[disabled],
      	select[disabled],
      	textarea[disabled]{
      		cursor: not-allowed;
      		background-color:#eee !important;
      	}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
